2captcha-python==1.2.2
absl-py==2.0.0
altgraph==0.17.3
annotated-types==0.7.0
anyio==4.4.0
asttokens==2.4.1
astunparse==1.6.3
attrs==23.1.0
auto-py-to-exe==2.39.0
Automat==22.10.0
beautifulsoup4==4.12.2
blinker==1.6.2
bottle==0.12.25
bottle-websocket==0.2.9
cachetools==5.3.1
capstone==5.0.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.1
config==0.5.1
constantly==23.10.4
contourpy==1.1.1
cryptography==42.0.5
cssselect==1.2.0
customtkinter==5.2.0
cycler==0.11.0
darkdetect==0.8.0
debugpy==1.8.0
decorator==5.1.1
distro==1.9.0
easyocr==1.7.1
EasyProcess==1.1
Eel==0.16.0
entrypoint2==1.1
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==2.0.1
filelock==3.12.4
Flask==2.3.3
flatbuffers==23.5.26
fonttools==4.42.1
future==0.18.3
gast==0.4.0
gevent==23.9.1
gevent-websocket==0.10.1
google-api-core==2.15.0
google-api-python-client==2.111.0
google-auth==2.23.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
googleapis-common-protos==1.62.0
greenlet==3.0.1
grpcio==1.58.0
h11==0.14.0
h5py==3.9.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
humanfriendly==10.0
hyperlink==21.0.0
idna==3.4
imageio==2.31.4
incremental==22.10.0
iniconfig==2.0.0
instaloader==4.10
ipykernel==6.29.0
ipython==8.20.0
ipywidgets==8.1.3
itemadapter==0.8.0
itemloaders==1.2.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyterlab_widgets==3.0.11
keras==2.13.1
keyboard==0.13.5
kiwisolver==1.4.5
langdetect==1.0.9
lazy_loader==0.3
libclang==16.0.6
lxml==4.9.3
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.0
matplotlib-inline==0.1.6
mdurl==0.1.2
MouseInfo==0.1.3
mpmath==1.3.0
mss==9.0.1
mysql==0.0.3
mysql-connector==2.2.9
mysqlclient==2.2.0
nest-asyncio==1.6.0
networkx==3.1
ninja==1.11.1
numpy==1.24.3
oauthlib==3.2.2
openai==1.31.1
opencv-python==4.8.0.76
opencv-python-headless==4.8.0.76
openpyxl==3.1.2
opt-einsum==3.3.0
outcome==1.2.0
packaging==23.1
pandas==2.0.3
parsel==1.9.1
parso==0.8.3
pefile==2023.2.7
Pillow==10.0.0
platformdirs==4.1.0
playwright==1.40.0
plotly==5.22.0
pluggy==1.3.0
prompt-toolkit==3.0.43
Protego==0.3.1
protobuf==4.24.3
psutil==5.9.5
pure-eval==0.2.2
py-cpuinfo==9.0.0
py2exe==0.13.0.0
py3dbg==1.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAutoGUI==0.9.54
pyclipper==1.3.0.post5
pycparser==2.21
pydantic==2.7.3
pydantic_core==2.18.4
pydbg==0.3.0
PyDirectInput==1.0.4
PyDispatcher==2.0.7
pyee==11.0.1
PyGetWindow==0.0.9
Pygments==2.17.2
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.8
Pymem==1.13.0
PyMsgBox==1.0.9
pynput==1.6.8
pyodbc==4.0.39
pyOpenSSL==24.1.0
pyparsing==3.1.1
pyperclip==1.8.2
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
pyreadline3==3.4.1
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
PySocks==1.7.1
pytesseract==0.3.10
pytest==7.4.2
python-bidi==0.4.2
python-dateutil==2.8.2
python-docx==1.1.0
python-dotenv==1.0.0
python-imagesearch==1.3.0
python3-xlib==0.15
pytweening==1.0.7
pytz==2023.3
PyWavelets==1.4.1
pywhatkit==5.4
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.1
pyzmq==25.1.2
queuelib==1.6.2
requests==2.31.0
requests-file==2.0.0
requests-oauthlib==1.3.1
rich==13.7.0
rsa==4.9
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.11.2
Scrapy==2.11.1
seaborn==0.13.0
selenium==4.12.0
service-identity==24.1.0
shadow-useragent==0.0.17
shapely==2.0.1
six==1.16.0
sklearn==0.0.post9
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
stack-data==0.6.3
sympy==1.12
tenacity==8.3.0
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
tesseract==0.1.3
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
tifffile==2023.9.18
tldextract==5.1.2
torch==2.0.1
torchvision==0.15.2
tornado==6.4
tqdm==4.66.4
traitlets==5.14.1
trio==0.22.2
trio-websocket==0.10.4
ttkthemes==3.2.2
Twisted==24.3.0
twisted-iocpsupport==1.0.4
typing_extensions==4.12.1
tzdata==2023.3
ultralytics==8.2.11
uritemplate==4.1.1
urllib3==1.26.16
w3lib==2.1.2
wcwidth==0.2.13
Werkzeug==2.3.7
whichcraft==0.6.1
widgetsnbextension==4.0.11
wikipedia==1.4.0
wrapt==1.15.0
wsproto==1.2.0
xlwings==0.30.12
yabox==1.1.0
zope.event==5.0
zope.interface==6.0
